<!DOCTYPE html>

{% load static %}

<h1> Confirmation page </h1>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>

</head>
<body class="email-body">
    <div class="email-ec">
        <div class="row">
            <div class="col-md-12">
        <h1>You have just sent an email to: {{ user.email }} <br>
            Please check your email for your credentials! 
        </h1>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %} 

    {% block content %}
    
    <div class="email-redirect-btn">
        <ul>
            
            <a href="{% url 'home' %}"><button> Home </button></a></li>
    
            <a href="{% url 'logout' %}"><button> Logout </button></a></li>
    
            <a href="{% url 'profile' %}"><button> Profile </button></a></li>
    
        </ul>
    </div>
    {% endblock content %}
    
        {% else %}
        <li><a href="{% url 'home' %}"><button> Home </button></a></li>
        {% endif %}
</body>
</html>