<h1> Login Page from Users </h1>

{% block title %}

Login in Here
{% endblock %}

{% block content %}

<h1> Login </h1>

<form action="" method="POST">
    {% csrf_token %}
    <label for="username" class="form-label"> Username: </label>
    <input type="text" class="form-control" name="username">
    
    <label for="password" class="form-label"> Password: </label>
    <input type="text" class="form-control" name="password">

    <p> Don't have an account? Create one <a href="/register"> here </a></p>
    
    <input type="submit" value="Submit" class="login-btn" >
    
</form>
{% endblock %}

<div class="home-redirect-btn">
   <div>
       <a href="{% url 'home' %}"><button> Home </button></a>
   </div>
</div>