body {
    background-color: #393B45;
}

.top-header {
    margin-top: 5px;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    background-color: antiquewhite;
}
.header{
    border: 1px solid black;
}
.body-background {
    background-color: #2e3d2f;
    height: auto;
}
.content-title {
    border: 1px solid black;
    height: 200px;
    display: flex;
    background-color: antiquewhite;
}
.destination {
    font-size: 25px;
    margin: 25px;
}
.checkin {
    font-size: 25px;
    margin: 25px;
}
.checkout {
    font-size: 25px;
    margin: 25px;
}
.search-btn {
    font-size: 57px;
    margin: 25px;
}
.cg-count {
    font-size: 20px;
}
.home-body {
    font-size: 30px;
    margin: 5px;
}
.header-btn {
    font-size: 40px;
    list-style-type: none;
    background-color: black;
}
.big-btn {
  background-color: #2e3d2f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 14px;

}
.header-main-btn {
    text-align: center;
}
.c-enclosure {
    width: 1885px;
    border: 1px solid black;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: antiquewhite;
}
.image-block {
    width: 250px;
    height: 200px;
    border: 1px solid black;
    float: right;

}
.c-name {
    width: 150px;
    height: 150px;

}
.c-amenities {
    height: 200;
    width: 200px;
    text-align: center;
    text-align: wrap;
}
.c-name {
    border: 1px solid black;
    width: 400px;
    font-size: 25px;
}
.c-price {
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
}
.c-description {
    height:300px;
    border: 1px solid black;
    font-size: 25px;
}
.footer {
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: antiquewhite;
}
.pages {
    text-align: center;
}

.profile-body {
	background-color: #474a58;
	height: 600px;
	width: 350px;
	margin: 10vh auto;
	border-radius: 25px;
	padding-bottom: 1px;
	box-shadow: 2px 2px 5px #e1e2e9;
}
.profile-name {
	color: white;
	text-align: center;
	width: 100%;
	background-color: #E6EBEE;
	border-radius: 25px 25px 0 0;
	color: #393B45;
	padding: 30px 0;
	font-weight: 800;
	margin: 0;
}
.image-crop {
	display: block;
	position: relative;
	background-color: #24292c;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 1px 1px 5px #e8eaee;
}
.profile-redirect-btn {
    list-style-type: none;
    display: flex;
    text-align: center;
}
.profile {
    text-align: center;
}
.profile-enclosure {
    color: white
}
.profile-email {
    text-align: center;
}
.profile-redirect {
    display: inline;
}
.register-body {
    background-color: #25262b;
    color: wheat
}
.email-body {
    background-color: #25262b;
    color: wheat;
    height: 1000px;
}
.email-ec {
    text-align: center;
}
.email-redirect-btn {
    text-align: center;
}
.ncpage-body {
    background-color: #535661;
    color: wheat
}
.ncpage-image {
    width: 1890px;
}
.purchase-btn {
    float:right;
    width: 150px;
    height: 40px;
    vertical-align: top;
    font-size: 30px;
}
.heading1 {
    font-size: 45px;
    text-align: left;
}
.ncpage-redirect-btn {
    width: 150px;
    height: 40px;
    display: inline;
    text-align: center;
    font-size: 30px;
    bottom: 0;
}
.ncpage-navbar {
    width: auto;
    background-color: rgb(15, 15, 15);
    border: 1px solid black;
    text-align: center;
    color: wheat;
    overflow: hidden;

}
.nc-navbar {
    font-size: 30px;
}
.login-main {
    background-color: #393B45;
    color: wheat;
}
.logout-main {
    background-color: #393B45;
    color: wheat;
}
.ncpage1-heading {
    background-color: #393B45;
    color: wheat;
}
.ncpage1-btn {
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}
.ncpage-name {
    font-size: 35px;
}
.ncpage-image-contain {
    display: flex;
}
.ncpage-image1 {
    height: 800px;
    width: 800px;
}
.ncpage-image2 {
    height: 700px;
    width: 700px;
}
.image-hold {
    text-align: center;
}
.col {
    float:right;
    padding: 25px;

}
.ncpage-ov {
    font-size: 25px;
}
.ncpage-ov-p {
    text-decoration: underline;
    
}
.ncpage-p {
    text-align: justify;
    font-size: 25px;
    text-indent: 50px;
}
.ncpage-h2 {
    font-size: 35px;
}
.ncpage-image3 {
    height: 200;
    width: 200px;

}
